<div *ngFor="let bike of bikes" class="bike-container">
  <img [src]="bike.bikeImage" class="bike-svg"  />
  <svg width="1000" height="30">
    <rect class="progress-bar"  height="30" [ngStyle]="{ 'fill': bike.svg, 'width': bike.distance + 'px' }"></rect>
  </svg>
  <p>{{ bike.name }} - Speed: {{ bike.speed }} - Distance: {{bike.distance}} </p>
</div>
<div class="winnerDiv">
  And the winner is...tan ta den....: <p style="color: green;
  font-size: 25px;">{{ findMaxDistanceBike().name }}</p> covering distance of <p style="color: green;
    font-size: 25px;">{{ findMaxDistanceBike().distance }}km</p>
    <p>Please check your mail- <label style="color: orange;">{{findMaxDistanceBike().email}}</label>, we have sent you gifts.</p>
</div>
<router-outlet></router-outlet>
